<h1>Editing <%= WeaponOffenseTypeCombo.label %></h1>

<%= render 'form', weapon_offense_type_combo: @weapon_offense_type_combo %>

<%= link_to 'Show', @weapon_offense_type_combo %> |
<%= link_to 'Back', weapon_offense_type_combos_path %>
